/* importar montserrat do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Montserrat', sans-serif;
}

html.dark {
    background-color: var(--p-surface-950);
}

.bg-img-dotted {
    background-image: url(https://d2n6cmh8j179w8.cloudfront.net/07420543-71fe-4d44-bd91-c29072b1f002/build/assets/dots-6b14a7af.svg);
}

.bg-img-aura {
    background-image: url(https://fqjltiegiezfetthbags.supabase.co/storage/v1/render/image/public/block.images/blocks/signin/signin-2.jpg);
}